.galeria {
    width: auto; 
    height: 400px;
    padding: 5px;
    border: 2px solid #3b9dc3;
    margin: 5px;
    overflow-x: auto;
    overflow-style: marquee-line;
    background: white;
    border-radius: 5px;
}

.foto-album { 
    float:left; 
    border: 1px solid #ccc; 
    padding: 5px;
    width: 160px;
    height: 170px;
    background: #eee;
    margin: 10px;
}

.foto-thumb { 
    width: 160px;
    height: 120px;
    overflow: hidden;
    border-radius: 5px;
    background: #ccc;
}

#foto-grande {
    float:left;
    width:  auto;
    height: auto;
    margin: 20px;
    padding: 10px;
    display: none;
}

.foto-fecha {
    position: absolute;
    top: 10px;
    left: 20px;
    background: white;
    border: 2px solid #ccc;
    cursor: pointer;
    padding: 5px;
}
